/* Authors: David Barrios, Paul Jordan, Can Tarhan, Alexander Gutierrez
   Date: 05 - November - 2023 */

* {
    box-sizing: border-box;
}

body {
    font-size: 1.17em;
    font-weight: 500;
    font-family: 'Cascadia Code';
    background-color: whitesmoke;
}

h1 {
    text-align: center;

}

#heading_msg {
    width: 600px;
    margin: auto;
}

#offence_desc span {
    display: none;
}

form {
    max-width: 500px;
    margin: auto;
    font-family: "Titillium Web", sans-serif;
}

form label {
    display: inline-block;
    width: 48%;
    text-align: right;
    margin-right: 0.2em;
}

input {
    width: 50%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
    outline: none;

    margin-bottom: 1.5em;
}

input+span {
    color: red;
    margin-left: 0.5em;
    position: absolute;
    display: inline;
    font-size: 0.75em
}

#info_validity {
    max-width: 500px;
    margin: auto;
    display: block;
}

#info_validity div {
    height: 40px;
    width: 0;
    text-wrap: nowrap;
    overflow: visible !important;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
    padding: 0 1.5em;
    align-items: center;
}

#info_validity p {
    color: whitesmoke;
    display: none;
}

img {
    width: 0px;
}

#btn_validate,
#new_offence {
    appearance: button;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
    color: #fff;
    cursor: pointer;
    padding: 8px 20px;
}

#btn_validate:active,
#new_offence {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
}

#btn_validate:disabled,
#new_offence:disabled {
    background-color: rgb(172, 171, 171);
}

.output {
    display: none;
    max-width: 500px;
    margin: auto;
    font-family: monospace;
}

#outputWrapper label {
    display: inline-block;
    width: 50%;
    text-align: left;
    margin-bottom: 0.5em;
}

h2 {
    margin: 0;
}

.mobile {
    display: none;
    color: red;
    font-size: 0.7em;
}

@media screen and (max-width: 665px) {
    form {
        padding: 0 0.3em;
    }

    form label {
        width: 100%;
        text-align: center;
    }

    input {
        width: 100%;
        display: block;
        margin: 0
    }

    p {
        text-align: center;
    }

    #info_validity div {
        font-size: 0.75em;
    }

    pre {
        text-wrap: wrap;
    }

    .mobile {
        display: block;
        margin-bottom: 0.2em;
    }

    input+span {
        display: none;
    }

    #btn_validate {
        margin-bottom: 3em;
    }

    #heading_msg {
        width: 100%;
    }
}